{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    {% block a %}

    {% endblock %}
    <title>蟹老板--一个神奇的电影网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Movie_store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <!-- 引入播放器 css 文件 -->
  <link href="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.css" rel="stylesheet">
  <!-- 如需在IE8、9浏览器中初始化播放器，浏览器需支持Flash并在页面中引入 -->
  <!--[if lt IE 9]>
  <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/ie8/videojs-ie8.js"></script>
  <![endif]-->
  <!-- 如果需要在 Chrome Firefox 等现代浏览器中通过H5播放hls，需要引入 hls.js -->
  <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/libs/hls.min.0.12.4.js"></script>
  <!-- 引入播放器 js 文件 -->
  <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.js"></script>


    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- start plugins -->
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!--{#    <link href='http://fonts.useso.com/css?family=Roboto+Condensed:100,200,300,400,500,600,700,800,900' rel='stylesheet'#}-->
<!--{#          type='text/css'>#}-->

    <!--css-->
    {% block styles %}
        <style>a{text-decoration:none}</style>

    {% endblock %}





    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>

        <!--js-->
    {% block scripts %}
    {% endblock %}

</head>
<body>
<div class="container">
    <div class="container_wrap">
        <div class="header_top">
            <div class="col-sm-3 logo">
                <a href="/" style="font-size: 26px; text-decoration: none; color: #D8232A">
                    <img src="{% static 'images/logo11.png' %}" alt="" width="70px"/>
                    <img src="{% static 'images/logo1.png' %}" alt="" width="120px"/>
                </a>
            </div>
            <div class="col-sm-6 nav">
                <ul class="nav nav-tabs nav-justified" style="margin-top: 15px ;font-size: 15px;">
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="最新"><a
                            href="/movie/2/">最新 </a> </span></li>
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="高分"><a
                            href="/movie/4/">高分 </a></span></li>
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="华语"><a
                            href="/movie/5/">华语 </a></span></li>
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="欧美"><a
                            href="/movie/6/">欧美 </a></span></li>
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="韩国"><a
                            href="/movie/7/">韩国 </a></span></li>
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="日本"><a
                            href="/movie/8/">日本 </a></span></li>
                    <li><span class="simptip-position-bottom simptip-movable" data-tooltip="更多"><a
                            href="/movie/9/">更多 </a></span></li>
                </ul>
            </div>
            <div class="col-sm-3 header_right">
                <ul class="header_right_box" style="margin-top: 10px">
                    {% block mine %}

                    {% endblock %}

                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>

{#        轮播图#}
        {% block coverpic %}
        {% endblock %}


        {% block content %}
        {% endblock %}
    </div>
</div>

<div class="container">
    <footer id="footer">
        <div id="footer-3d">
            <div class="gp-container">
                <span class="first-widget-bend"></span>
            </div>
        </div>
        <div id="footer-widgets" class="gp-footer-larger-first-col">
            <div class="gp-container">
                <div class="footer-widget footer-1">
                    <div class="wpb_wrapper">
{#                        <img src="{% static 'images/f_logo.png' %}" alt=""/>#}
                        <span style="font-size: 26px">Krabs</span>
                    </div>
                    <br>
                    <p>蟹老板电影网</p>
                    <p class="text">一个神奇的网站</p>
                </div>
                <div class="footer_box">
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>友链</h3>
                        <ul class="first">
                            <li><a href="http://blackkitty.org/">- BLACKKITTY</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>关于我们</h3>
                        <ul class="first">
                            <li><a href="#">- 蟹老板</a></li>
                            <li><a href="#">- 蟹老板影视</a></li>
{#                            <li><a href="#">Specials</a></li>#}
                        </ul>
                    </div>
                    <div class="col_1_of_3 span_1_of_3">
                        <h3>联系我们</h3>
                        <ul class="first">
                            <li><a href="#">- Q &nbsp;&nbsp;123456789</a></li>
                            <li><a href="#">- E &nbsp;&nbsp;xieboss@krabs.com</a></li>
                        </ul>
                        <div class="copy">
                            <p>Copyright &copy; 2019 <a target="_blank"
                                                                                         href="http://idandan.vip/">蟹老板的电影网</a>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>